[submodule "charitydonation-fe2"]
	path = charitydonation-fe2
	url = https://github.com/calebomondi/charitydonation-fe2
[submodule "CharityDonationSmartContract"]
	path = CharityDonationSmartContract
	url = https://github.com/calebomondi/charity-donation-hardhat
